body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body > header,
body > main {
    display: inline-block; 
    width: 1000px; 
    margin-left: calc(50% - 500px);
    
    
    
}

header > img {
    float:left;
    height: 46px;
}

header > nav {
    float:right;
    margin-top: 13px;
}
nav > a {
    display: inline-block;
    font-size: 18px;
    padding-bottom: 3px;
    line-height: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    

}

nav > a:hover {
    color: orangered;
    border-bottom: 2px solid orangered;
    
}

nav > a:nth-child(1) {
    border-bottom: 2px solid orangered;
}

body > main {
    margin-top: 100px;
}

main > div {
    width: 45%;
    float: left;
    padding-right: 10%;

}

h1 {
    font-weight: normal;
    font-family: cursive;
    margin-bottom: 10px;
}

div a {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    text-decoration: none;
    background-color: orangered;
    border-radius: 5px;
}

h1 span {
    color: orangered;
}

div > p {
    margin-bottom: 25px;
}

main > img {
    width: 55%;
    height: 450px;
    float: left;
    object-fit: contain;
    object-position: center;
}

